body {
  background-color: rgb(204, 228, 231);
  color: rgb(53, 55, 54);
  font-family: 'Helvetica', serif;
  text-align: center;
}

.elapsed-time {
  font-size: 72px;
  margin-bottom: 50px;
}

button {
  display: block;
  margin: 20px auto;
  height: 50px;
  width: 150px;
  font-size: 25px;
  line-height: 50px;
}

button:hover {
  cursor: pointer;
}

.started {
  background-color: rgb(203, 121, 121);
  outline: 0;
}

.hidden {
  visibility: hidden;
}

.time-limit-container {
  display: block;
  position: relative;
  margin: 100px auto;
  width: 150px;
  height: 25px;
  line-height: 25px;
}

.time-limit-label {
  display: inline-block;
  position: absolute;
  margin: 0;
  left: 0;
  font-size: 20px;
}

#time-limit-input {
  margin-left: 10px;
  border: none;
  padding: 0;
  height: 25px;
  width: 40px;
  position: absolute;
  right: 0;
  font-size: 20px;
  text-align: center;
}

.expired {
  color: rgb(203, 121, 121);
}
